myflow.json
[{"id":"e28e4491.cd29a","type":"tab","label":"learn","disabled":false,"info":""},{"id":"c4db0787.706bc","type":"tab","label":"API","disabled":false,"info":""},{"id":"ba8dc12f.43ef8","type":"tab","label":"UI","disabled":false,"info":""},{"id":"867224e8.554778","type":"tab","label":"WILD","disabled":false,"info":"Issue your Humidor request with a valid \nJSON object:\n````\n{\n    \"input\": {\n        \"text\": \"Hello\"\n    },\n    \"cohibas\":{\n        \"applID\":\"Template\"\n    }\n}\n````"},{"id":"c5a048a.43205b8","type":"tab","label":"IoT","disabled":false,"info":""},{"id":"97655b1.5371828","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"BLUDB"},{"id":"fa3c233d.983d18","type":"ui_tab","z":"","name":"Tab2","icon":"dashboard","order":2},{"id":"6756e3ca.e5cf3c","type":"ui_group","z":"","name":"Car Data","tab":"1ebdb3e4.d8e36c","order":3,"disp":true,"width":"12","collapse":false},{"id":"1ebdb3e4.d8e36c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"5515be2a.485028","type":"ui_group","z":"","name":"Group 1","tab":"fa3c233d.983d18","disp":true,"width":"6","collapse":false},{"id":"800760b1.1948e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"My Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ce90add5.234268","type":"ui_group","name":"Group 2","tab":"fa3c233d.983d18","order":2,"disp":true,"width":6},{"id":"2f1c8348.4eafd4","type":"ui_link","z":"","name":"Link 3","link":"www.ibm.com","icon":"open_in_browser","target":"iframe","order":3},{"id":"501ec201.438b8c","type":"mqtt-broker","z":"","broker":"192.168.1.157","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"sensors/connected/test-client","birthQos":"0","birthRetain":"true","birthPayload":"1","willTopic":"sensors/connected/test-client","willQos":"0","willRetain":"true","willPayload":"0"},{"id":"1b6bb416.e50a4c","type":"ui_group","z":"","name":"Control","tab":"68a6255c.d0a67c","disp":true,"width":"6","collapse":false},{"id":"68a6255c.d0a67c","type":"ui_tab","z":"","name":"Bedroom","icon":"dashboard"},{"id":"d60f5a53.4e3c8","type":"mqtt-broker","z":"","name":"Mosca","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c9b736d8.cad37","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":80,"wires":[]},{"id":"8372d1ee.ef935","type":"inject","z":"e28e4491.cd29a","name":"Topic1","topic":"topic1","payload":"{\"name\":\"John\",\"age\":30,\"cars\":[{\"name\":\"Ford\",\"models\":[\"Fiesta\",\"Focus\",\"Mustang\"]},{\"name\":\"BMW\",\"models\":[\"320\",\"X3\",\"X5\"]},{\"name\":\"Fiat\",\"models\":[\"500\",\"Panda\"]}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":80,"wires":[["4d2c633e.75ccfc"]]},{"id":"4d2c633e.75ccfc","type":"function","z":"e28e4491.cd29a","name":"SplitTopic","func":"\nvar payload=msg.payload; //get payload\nvar topic=msg.topic; //get topic\n\nif (topic==\"topic1\"){\n    return [msg,null];\n    \n}\nif (topic==\"topic2\"){\n    return [null,msg];\n    \n}\n\n/* \nvar date = new Date(msg.payload);\nmsg.payload = date.toString();\nreturn msg;\n*/","outputs":2,"noerr":0,"x":280,"y":80,"wires":[["c9b736d8.cad37"],["e614412d.fedc"]]},{"id":"4ec266ba.28fa","type":"inject","z":"e28e4491.cd29a","name":"","topic":"","payload":"","payloadType":"str","repeat":"18000","crontab":"","once":false,"onceDelay":"","x":90,"y":440,"wires":[["87d52d39.a0357"]]},{"id":"87d52d39.a0357","type":"http request","z":"e28e4491.cd29a","name":"Recent EarthQuakes","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":280,"y":460,"wires":[["d871dd78.8bba38"]]},{"id":"d871dd78.8bba38","type":"csv","z":"e28e4491.cd29a","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":470,"y":440,"wires":[["aee69a50.3272a8","1f094954.f9549f"]]},{"id":"aee69a50.3272a8","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"complete":false,"x":670,"y":420,"wires":[]},{"id":"1f094954.f9549f","type":"switch","z":"e28e4491.cd29a","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"6.8","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":560,"wires":[["88d214b8.be008"]]},{"id":"88d214b8.be008","type":"change","z":"e28e4491.cd29a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":560,"wires":[["fadbf01e.f7b988"]]},{"id":"fadbf01e.f7b988","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"complete":false,"x":710,"y":500,"wires":[]},{"id":"21f7f80a.5a04f8","type":"dashDB in","z":"c4db0787.706bc","dashDB":"97655b1.5371828","service":"_ext_","query":"select age, gender from GoSales where age = 69 FETCH FIRST 10 ROWS ONLY","params":"","name":"","x":300,"y":120,"wires":[["bdb521f3.53c57"]]},{"id":"bdb521f3.53c57","type":"debug","z":"c4db0787.706bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":120,"wires":[]},{"id":"655d88ff.e1a63","type":"inject","z":"c4db0787.706bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["21f7f80a.5a04f8"]]},{"id":"cf424e69.6c76c","type":"csv","z":"c4db0787.706bc","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":430,"y":240,"wires":[["da6bc3d8.96cf6"]]},{"id":"19d8a571.bce243","type":"http in","z":"c4db0787.706bc","name":"API: getUsers","url":"/rest/users","method":"get","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["c1fe36a1.3aebb"]]},{"id":"c1fe36a1.3aebb","type":"file in","z":"c4db0787.706bc","name":"readCSVfile","filename":"/Users/peteryxu/CODE/node-red-data/MY-data/simpleUser.csv","format":"utf8","chunk":false,"sendError":false,"x":280,"y":240,"wires":[["cf424e69.6c76c"]]},{"id":"b7d5475e.8812a","type":"http response","z":"c4db0787.706bc","name":"","statusCode":"","headers":{},"x":810,"y":240,"wires":[]},{"id":"26049273.4cd51e","type":"json","z":"c4db0787.706bc","name":"","property":"payload","action":"","pretty":false,"x":450,"y":280,"wires":[["49270b05.961104"]]},{"id":"3e322f9b.c125b8","type":"file in","z":"c4db0787.706bc","name":"readJsonFile","filename":"/Users/peteryxu/CODE/node-red-data/MY-data/generatedUsers.json","format":"utf8","chunk":false,"sendError":false,"x":290,"y":280,"wires":[["26049273.4cd51e"]]},{"id":"19d53321.599d8d","type":"http in","z":"c4db0787.706bc","name":"API: getUsers2","url":"/rest/users2","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["3e322f9b.c125b8"]]},{"id":"49270b05.961104","type":"http response","z":"c4db0787.706bc","name":"","statusCode":"","headers":{},"x":590,"y":280,"wires":[]},{"id":"da6bc3d8.96cf6","type":"function","z":"c4db0787.706bc","name":"addHttpHeaders","func":"var custom1 = 'xxx-1';\nvar custom2 = 'xxx-2';\n\nmsg.headers = {\n    'X-Application-Custom1': custom1,\n    'X-Application-Custom2': custom2\n};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["b7d5475e.8812a","9581ee16.b2382"]]},{"id":"9581ee16.b2382","type":"debug","z":"c4db0787.706bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"headers","x":810,"y":160,"wires":[]},{"id":"8ed59b22.af908","type":"inject","z":"c4db0787.706bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["c1256e08.2b108"]]},{"id":"c1256e08.2b108","type":"http request","z":"c4db0787.706bc","name":"call getUsers","method":"GET","ret":"txt","url":"http://127.0.0.1:1880/rest/users2","tls":"","x":310,"y":360,"wires":[["5c7fc635.f91be8"]]},{"id":"5c7fc635.f91be8","type":"debug","z":"c4db0787.706bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":360,"wires":[]},{"id":"d242df98.ab64f8","type":"ui_template","z":"ba8dc12f.43ef8","group":"6756e3ca.e5cf3c","name":"Batt_NEW","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n\n<style>\n\n/*Initial Code By Mickael Novotny*/\n\n:root {\n --batt_lev: {{msg.payload}}%;\n --batt_col: {{msg.color}}\n \n}\n\nbody {\n padding: 25px 50px;\n}\n\n.battery {\n/* Battery outerwall*/\n border: 5px solid #333;\n width: 278px;\n height: 108px;\n padding: 4px;\n border-radius: 2px;\n position: relative;\n margin: 15px 0;\n} \n\n\n.battery::before {\n/* Battery Pole */\n content: \"\";\n height: 90px;\n width: 16px;\n background: #333;\n display: block;\n position: absolute;\n top: 7.5px;\n right: -16px;\n border-radius: 0 4px 4px 0;\n}\n\n.battery::after {\n/* Battery inner margins*/\n content: \"\";\n display: block;\n position: absolute;\n top: -3px;\n left: -3px;\n right: -3px;\n bottom: -3px;\n border: 6px solid #fff;\n border-radius: 2px;\n}\n\n-->\n\n.battery-level {\n/* battery level*/\n background: var(--batt_col, blue); \n position: absolute;\n top: 0px;\n bottom: 0px;\n width: var(--batt_lev, 50%);\n left: 0%;\n}\n\n.battery-text{\n z-index:99;\n position: absolute;\n font-size:32px;\n top: 20px;\n left:120px;\n color:'';\n}\n\n.warn {\n background-color: #efaf13;\n}\n \n.alert {\n background-color: #e81309;\n} \n\n.alert::after {\n background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%3E%3C%2Fg%3E%20%3Cpath%20fill%3D%22%23e81309%22%20d%3D%22M17.927%2012l2.68-10.28c0.040-0.126%200.060-0.261%200.060-0.4%200-0.726-0.587-1.32-1.314-1.32-0.413%200-0.78%200.187-1.019%200.487l-13.38%2017.353c-0.18%200.227-0.287%200.513-0.287%200.827%200%200.733%200.6%201.333%201.333%201.333h8.073l-2.68%2010.28c-0.041%200.127-0.060%200.261-0.060%200.4%200.001%200.727%200.587%201.32%201.314%201.32%200.413%200%200.78-0.186%201.020-0.487l13.379-17.353c0.181-0.227%200.287-0.513%200.287-0.827%200-0.733-0.6-1.333-1.333-1.333h-8.073z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E'); \n background-repeat: no-repeat;\n background-size: 18px;\n height: 18px;\n width: 18px;\n margin: 6px 0 0 8px;\n content: \"\";\n display: inline-block;\n position: absolute;\n}\n\n</style>\n</head>\n\n<body>\n\n<div class=\"battery\">\n <div class=\"battery-level\"></div>\n <div class=\"battery-text\"><p><span id=\"myMsg\"></span>%</p></div>\n</div>\n\n<!--\n<div class=\"battery\">\n <div class=\"battery-level warn\" style=\"width:18%;\"></div>\n</div>\n\n<div class=\"battery\">\n <div class=\"battery-level alert\" style=\"width:10%;\"></div>\n</div>\n\n-->\n\n\n<script>\n(function(scope) {\n scope.$watch('msg', function(msg) {\n // new message received\n document.getElementById(\"myMsg\").innerHTML = msg.payload;\n \n });\n})(scope);\n\n</script>\n\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":630,"y":160,"wires":[[]]},{"id":"c22b2745.77041","type":"inject","z":"ba8dc12f.43ef8","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"0.9","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":160,"wires":[["3a695db6.c3b192"]]},{"id":"3a695db6.c3b192","type":"change","z":"ba8dc12f.43ef8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload%100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":160,"wires":[["559051b6.552f88"]]},{"id":"559051b6.552f88","type":"function","z":"ba8dc12f.43ef8","name":"Set color","func":"let pay = msg.payload;\nlet col = \"lime\";\n\nswitch (true) {\n    case (pay >70):\n        col = \"lime\";\n        break;\n    case (pay >50):\n        col = \"orange\";\n        break; \n    case (pay >0):\n        col = \"red\";\n        break;\n}\n\nmsg.color = col;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["d242df98.ab64f8"]]},{"id":"ed800e9f.f37aa8","type":"ui_template","z":"ba8dc12f.43ef8","group":"5515be2a.485028","name":"timestamp","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":260,"wires":[[]]},{"id":"d05d62be.eeb618","type":"ui_template","z":"ba8dc12f.43ef8","group":"ce90add5.234268","name":"even/odd","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n  <p>The number is</p>\n  <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n    {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n  </p>\n</div>\n\n<script>\nvar value = \"hello world\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n</script>\n<md-button ng-click=\"send({payload:action()})\">\n    Click me to send a hello world\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":360,"y":260,"wires":[["ed800e9f.f37aa8"]]},{"id":"ed1acd1a.2b523","type":"inject","z":"ba8dc12f.43ef8","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":260,"wires":[["d05d62be.eeb618"]]},{"id":"7b629348.f6a6f4","type":"http in","z":"867224e8.554778","name":"Humidor Request","url":"/Cohibas/Template","method":"post","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["e9a42bd9.4de5a"]]},{"id":"9281eb9c.2702f8","type":"http response","z":"867224e8.554778","name":"Humidor Response","statusCode":"200","headers":{},"x":636.0000076293945,"y":448.999981880188,"wires":[]},{"id":"acbe8d90.030b58","type":"debug","z":"867224e8.554778","name":"Humidor Response","active":true,"console":"false","complete":"true","x":634.9999694824219,"y":406.9999828338623,"wires":[]},{"id":"e617f889.6c0688","type":"debug","z":"867224e8.554778","name":"workflow to Update Micro-Service here","active":true,"console":"false","complete":"true","x":620,"y":240,"wires":[]},{"id":"2150480e.3c8f58","type":"debug","z":"867224e8.554778","name":"Orchestrator Output","active":true,"console":"false","complete":"true","x":644,"y":366.9999704360962,"wires":[]},{"id":"75e89ebe.2da898","type":"debug","z":"867224e8.554778","name":"Error or Callback","active":true,"console":"false","complete":"true","x":550,"y":160,"wires":[]},{"id":"e9a42bd9.4de5a","type":"workFlow","z":"867224e8.554778","name":"Cohibas Workflow","debugon":false,"username":"username","password":"password","flowsteps":"[{\"outputChannel\":0,\"name\":\"Calling Cohibas Orchestration\",\"status\":\"active\",\"flags\":\"Callback, Error\"},{\"outputChannel\":1,\"name\":\"Update Micro-Service here\",\"status\":\"active\",\"flags\":\"\"}]","outputs":2,"x":290,"y":180,"wires":[["75e89ebe.2da898","d6c1cb49.7dffb"],["e617f889.6c0688","f05d3f47.f0f508"]]},{"id":"d6c1cb49.7dffb","type":"orchestration","z":"867224e8.554778","name":"Cohibas Orchestrator","rules":"{\"preProcess\":[{\"test\":\"payload.error\",\"action\":[{\"target\":\"\",\"clause\":\"\",\"verb\":\"respond\"}],\"comment\":\"Process Error\",\"active\":true},{\"test\":\"payload.context.cohibasAction=\\\"cohibasRestart\\\"\",\"action\":[{\"target\":\"payload.cohibas.workflow.flowPointer\",\"clause\":\"0\",\"verb\":\"assign\"}],\"comment\":\"executes action if there is a cohibasAction in the context\",\"active\":true},{\"test\":\"payload.context.cohibasAction\",\"action\":[{\"target\":\"payload.context.cohibasAction\",\"clause\":\"\",\"verb\":\"delete\"}],\"comment\":\"Remove cohibasAction if there\",\"active\":true},{\"test\":\"payload.cohibas.flag=\\\"CANCEL\\\"\",\"action\":[{\"target\":\"\",\"clause\":\"\",\"verb\":\"respond\"}],\"comment\":\"pre check for cancel flag\",\"active\":true}],\"postProcess\":[{\"test\":\"payload.context.humidorCallback\",\"action\":[{\"verb\":\"respond\",\"target\":\"\",\"clause\":\"\"}],\"comment\":\"executes action if there is a humidorCallback in the context\",\"active\":true},{\"test\":\"payload.cohibas.flag = \\\"COMPLETE\\\"\",\"action\":[{\"verb\":\"respond\",\"target\":\"\",\"clause\":\"\"}],\"comment\":\"executes action if there is a flag set to \\\"COMPLETE\\\"\",\"active\":true},{\"test\":\"payload.cohibas.flag = \\\"RETURN\\\"\",\"action\":[{\"target\":\"payload.cohibas.flag\",\"clause\":\"\",\"verb\":\"delete\"},{\"target\":\"\",\"clause\":\"\",\"verb\":\"respond\"}],\"comment\":\"causes a return but is removed from the response\",\"active\":true},{\"test\":\"payload.cohibas.flag=\\\"CANCEL\\\"\",\"action\":[{\"target\":\"\",\"clause\":\"\",\"verb\":\"respond\"}],\"comment\":\"post check for cancel flag\",\"active\":true}]}","x":308.00001525878906,"y":413,"wires":[["e9a42bd9.4de5a","2150480e.3c8f58"],["9281eb9c.2702f8","acbe8d90.030b58"],[]]},{"id":"f05d3f47.f0f508","type":"microService","z":"867224e8.554778","name":"Update Micro-Service here","apiurl":"","portnumber":"","method":"","endpoint":"","protocal":"","multiuser":false,"context":true,"kpretld":true,"kpostld":true,"mappings":"{\"applyRule\":\"create\",\"premap\":[{\"from\":\"payload.input\",\"to\":\"input\"},{\"from\":\"payload.context\",\"to\":\"context\"}],\"postmap\":[{\"from\":\"input\",\"to\":\"input\"},{\"from\":\"entities\",\"to\":\"entities\"},{\"from\":\"intents\",\"to\":\"intents\"},{\"from\":\"output\",\"to\":\"output\"},{\"from\":\"context\",\"to\":\"context\"}],\"preMapping\":[{\"test\":\"payload.input\",\"action\":[{\"target\":\"input\",\"clause\":\"payload.input.text\",\"verb\":\"assign\"}],\"comment\":\"send input\",\"active\":true}],\"postMapping\":[{\"test\":\"output\",\"action\":[{\"target\":\"payload.output\",\"clause\":\"output\",\"verb\":\"assign\"}],\"comment\":\"Save output\",\"active\":true}]}","credfromflow":true,"flowsettingkey":"NO CALL","debugon":true,"username":"","password":"","apitimeout":"10000","sResult":"{\"output\":{\"text\":\"Hello from Cohibas. If this is not what you expected, ensure you have set the cohibas.applID correctly.\"}}","x":580,"y":280,"wires":[["d6c1cb49.7dffb","3aefc04.0c753c"]]},{"id":"3aefc04.0c753c","type":"debug","z":"867224e8.554778","name":"Update Micro-Service here Output","active":true,"console":"false","complete":"true","x":884.0000228881836,"y":279.99999046325684,"wires":[]},{"id":"20008ffa.73c968","type":"http in","z":"867224e8.554778","name":"Humidor Request-callback","url":"/Cohibas/TestCallback","method":"post","upload":false,"swaggerDoc":"","x":130,"y":600,"wires":[["d5efa35.6ea406"]]},{"id":"15651341.9861bd","type":"http response","z":"867224e8.554778","name":"Humidor Response","statusCode":"200","headers":{},"x":853,"y":1010.0000076293945,"wires":[]},{"id":"6aefe1b8.31e41","type":"debug","z":"867224e8.554778","name":"workflow to NO CALL","active":true,"console":"false","complete":"payload","x":780,"y":720,"wires":[]},{"id":"7d535fb0.d26b48","type":"debug","z":"867224e8.554778","name":"Orchestrator Output","active":true,"console":"false","complete":"payload","x":865,"y":971.9999580383301,"wires":[]},{"id":"a1e78693.1bc99","type":"debug","z":"867224e8.554778","name":"Error or Callback","active":true,"console":"false","complete":"payload","x":770,"y":660,"wires":[]},{"id":"d5efa35.6ea406","type":"workFlow","z":"867224e8.554778","name":"Cohibas Workflow","debugon":false,"username":"username","password":"password","flowsteps":"[{\"outputChannel\":0,\"name\":\"Calling Cohibas Orchestration\",\"status\":\"active\",\"flags\":\"Callback, Error\"},{\"outputChannel\":1,\"name\":\"NO CALL\",\"status\":\"active\",\"flags\":\"\"},{\"outputChannel\":2,\"name\":\"Finish\",\"status\":\"active\",\"flags\":\"\"}]","outputs":3,"x":290,"y":680,"wires":[["a1e78693.1bc99","14eebc05.30c20c"],["6aefe1b8.31e41","1d0d590f.ef83af"],["8f670ad4.69c678","605854f4.d30ea4"]]},{"id":"14eebc05.30c20c","type":"orchestration","z":"867224e8.554778","name":"Cohibas Orchestrator","rules":"{\"preProcess\":[{\"test\":\"payload.error\",\"action\":[{\"target\":\"\",\"clause\":\"\",\"verb\":\"respond\"}],\"comment\":\"Process Error\",\"active\":true},{\"test\":\"payload.context.cohibasAction=\\\"callback_Restart\\\"\",\"action\":[{\"target\":\"payload.cohibas.workflow.flowPointer\",\"clause\":\"0\",\"verb\":\"assign\"}],\"comment\":\"executes action if there is a cohibasAction in the context\",\"active\":true},{\"test\":\"payload.context.cohibasAction\",\"action\":[{\"target\":\"payload.context.cohibasAction\",\"clause\":\"\",\"verb\":\"delete\"}],\"comment\":\"removes cohibasAction\",\"active\":true},{\"test\":\"payload.cohibas.flag=\\\"CANCEL\\\"\",\"action\":[{\"target\":\"\",\"clause\":\"\",\"verb\":\"respond\"}],\"comment\":\"pre check for cancel flag\",\"active\":true}],\"postProcess\":[{\"test\":\"payload.context.humidorCallback\",\"action\":[{\"verb\":\"respond\",\"target\":\"\",\"clause\":\"\"}],\"comment\":\"executes action if there is a humidorCallback in the context\",\"active\":true},{\"test\":\"payload.cohibas.flag = \\\"COMPLETE\\\"\",\"action\":[{\"verb\":\"respond\",\"target\":\"\",\"clause\":\"\"}],\"comment\":\"executes action if there is a flag set to \\\"COMPLETE\\\"\",\"active\":true},{\"test\":\"payload.cohibas.flag = \\\"RETURN\\\"\",\"action\":[{\"target\":\"payload.cohibas.flag\",\"clause\":\"true\",\"verb\":\"delete\"},{\"target\":\"\",\"clause\":\"\",\"verb\":\"respond\"}],\"comment\":\"causes a return but is removed from the response\",\"active\":true},{\"test\":\"payload.cohibas.flag=\\\"CANCEL\\\"\",\"action\":[{\"target\":\"\",\"clause\":\"\",\"verb\":\"respond\"}],\"comment\":\"post process check for cancel flag\",\"active\":true}],\"NO CALL\":[{\"test\":\"payload.entities[entity=\\\"flight_route\\\"]\",\"action\":[{\"target\":\"payload.context.flight_route\",\"clause\":\"payload.entities[entity=\\\"flight_route\\\"].value\",\"verb\":\"assign\"},{\"target\":\"payload.context.humidorCallback\",\"clause\":\"{\\\"actions\\\":[\\\"getFlightRouteReference\\\",\\\"getCoordinatesForAirportICAO\\\"]}\",\"verb\":\"assign\"},{\"target\":\"payload.entities\",\"clause\":\"\",\"verb\":\"delete\"}],\"comment\":\"Request Callback if needed\"}],\"Finish\":[{\"test\":\"payload.context.flight_route and payload.context.airport and payload.context.airportCoordinates.latitude and payload.context.airportCoordinates.longitude\",\"action\":[{\"target\":\"payload.output.text\",\"clause\":\"\\\"The \\\" & payload.context.flight_route & \\\" is \\\" & payload.context.airport & \\\" and is located at (\\\" & payload.context.airportCoordinates.latitude & \\\",\\\" & payload.context.airportCoordinates.longitude & \\\")\\\"\",\"verb\":\"assign\"}],\"comment\":\"Set up the output based on context data\",\"active\":true}]}","x":576.9999618530273,"y":986.0000076293945,"wires":[["d5efa35.6ea406","7d535fb0.d26b48"],["15651341.9861bd","1c7cc6a7.1273e9"],["1c7cc6a7.1273e9"]]},{"id":"1d0d590f.ef83af","type":"microService","z":"867224e8.554778","name":"NO CALL","apiurl":"","portnumber":"","method":"","endpoint":"","protocal":"","multiuser":false,"context":true,"kpretld":false,"kpostld":true,"mappings":"{\"applyRule\":\"explicit\",\"premap\":[],\"postmap\":[],\"preMapping\":[{\"test\":\"payload.input\",\"action\":[{\"target\":\"input\",\"clause\":\"payload.input\",\"verb\":\"assign\"}],\"comment\":\"send input\",\"active\":true},{\"test\":\"payload.context\",\"action\":[{\"target\":\"context\",\"clause\":\"payload.context\",\"verb\":\"assign\"}],\"comment\":\"send context\",\"active\":true}],\"postMapping\":[{\"test\":\"entities\",\"action\":[{\"target\":\"payload.entities\",\"clause\":\"entities\",\"verb\":\"assign\"}],\"comment\":\"Store entities\",\"active\":true},{\"test\":\"context\",\"action\":[{\"target\":\"payload.context\",\"clause\":\"context\",\"verb\":\"assign\"}],\"comment\":\"Store context\",\"active\":true}]}","credfromflow":true,"flowsettingkey":"NO CALL","debugon":true,"username":"","password":"","apitimeout":"9000","sResult":"{\"entities\":[{\"confidence\":1,\"entity\":\"flight_route\",\"filter\":false,\"location\":[7,19],\"value\":\"ArrivalAirport\"}],\"context\":{\"flight_route\":\"ArrivalAirport\"}}","applid":"","x":542.9999885559082,"y":769.999979019165,"wires":[["64b2085d.033498","14eebc05.30c20c"]]},{"id":"64b2085d.033498","type":"debug","z":"867224e8.554778","name":"NO CALL Output","active":true,"console":"false","complete":"payload","x":777.0000228881836,"y":770.0000038146973,"wires":[]},{"id":"8f670ad4.69c678","type":"microService","z":"867224e8.554778","name":"Finish","apiurl":"","portnumber":"","method":"POST","endpoint":"/","protocal":"http","multiuser":false,"context":true,"kpretld":false,"kpostld":true,"keepresult":false,"mappings":"{\"preMapping\":[],\"postMapping\":[{\"test\":\"true\",\"action\":[{\"target\":\"payload.cohibas.flag\",\"clause\":\"\\\"COMPLETE\\\"\",\"verb\":\"assign\"}],\"comment\":\"Generate Output\",\"active\":true}],\"applyRule\":\"explicit\"}","credfromflow":true,"flowsettingkey":"NO CALL","debugon":false,"username":"username","password":"password","apitimeout":"10000","sResult":"{}","applid":"","x":533.0000190734863,"y":865.9999570846558,"wires":[["14eebc05.30c20c","7931b8a1.37ea6"]]},{"id":"7931b8a1.37ea6","type":"debug","z":"867224e8.554778","name":"Finish Output","active":true,"console":"false","complete":"payload","x":769.6960182189941,"y":865.6249809265137,"wires":[]},{"id":"605854f4.d30ea4","type":"debug","z":"867224e8.554778","name":"Workflow to Finish","active":true,"console":"false","complete":"payload","x":573.0000152587891,"y":819.0000047683716,"wires":[]},{"id":"1c7cc6a7.1273e9","type":"debug","z":"867224e8.554778","name":"Humidor Response","active":true,"console":"false","complete":"payload","x":850.6999969482422,"y":1058.0000085830688,"wires":[]},{"id":"b88b6204.ffaf48","type":"inject","z":"e28e4491.cd29a","name":"Topic2","topic":"topic2","payload":"ABC","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["4d2c633e.75ccfc"]]},{"id":"e614412d.fedc","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":120,"wires":[]},{"id":"28922b22.d9bddc","type":"function","z":"e28e4491.cd29a","name":"[msgs]","func":"var m_out=[]; //rray for message objects\nvar message=msg.payload;\nfor (i=0;i<3;i++){\n    \n    message=message+i; //add count to message\n    var newmsg={payload:message,topic:msg.topic}\n    m_out.push(newmsg);\n}\nreturn [m_out];","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["4f368e3f.64ca38"]]},{"id":"4f368e3f.64ca38","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":20,"wires":[]},{"id":"9ef56e3e.bbe","type":"inject","z":"e28e4491.cd29a","name":"","topic":"test","payload":"message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["28922b22.d9bddc"]]},{"id":"1f616f8.41d6311","type":"function","z":"e28e4491.cd29a","name":"VariablesPerisitenceScope","func":"/*\nThe context object -stores data for a node\nThe Flow object – stores data for a flow\nThe global object -stores data for the canvas\n*/\n\nvar nodeCount=context.get('nodeCount') || 0;\nvar flowCount=flow.get('flowCount') || 0;\nvar globalCount=global.get('globalCount') || 0;\n\nnodeCount = nodeCount + 1;\ncontext.set('nodeCount',nodeCount);\n\nmsg.nodeCount = nodeCount;\nmsg.flowCount = flowCount;\nmsg.globalCount = globalCount;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["3acb817b.bf3b66"]]},{"id":"700dd4e0.2b04d4","type":"inject","z":"e28e4491.cd29a","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["1f616f8.41d6311"]]},{"id":"3acb817b.bf3b66","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":180,"wires":[]},{"id":"b397ec20.37ba1","type":"function","z":"e28e4491.cd29a","name":"setFlowGlobalVariable","func":"var flowCount=flow.get('flowCount') || 0;\nvar globalCount=global.get('globalCount') || 0;\n\nflowCount = flowCount + 1;\nflow.set('flowCount',flowCount);\n\nglobalCount = globalCount + 1;\nglobal.set('globalCount',globalCount);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["e05164ce.8f44a"]]},{"id":"a289507d.d500b8","type":"inject","z":"e28e4491.cd29a","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":220,"wires":[["b397ec20.37ba1"]]},{"id":"e05164ce.8f44a","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":220,"wires":[]},{"id":"7795557.824baac","type":"inject","z":"c5a048a.43205b8","name":"Open","topic":"sensors/main-door/control","payload":"Open","payloadType":"str","repeat":"","crontab":"","once":false,"x":70,"y":140,"wires":[["81991049.4c8368"]]},{"id":"5472edfd.3dd174","type":"debug","z":"c5a048a.43205b8","name":"","active":true,"console":"false","complete":"false","x":408,"y":124,"wires":[]},{"id":"78095358.6bc4dc","type":"mqtt out","z":"c5a048a.43205b8","name":"","topic":"","qos":"","retain":"true","broker":"d60f5a53.4e3c8","x":385,"y":231,"wires":[]},{"id":"2f800f13.853e48","type":"inject","z":"c5a048a.43205b8","name":"closed","topic":"sensors/main-door/control","payload":"Closed","payloadType":"str","repeat":"","crontab":"","once":true,"x":80,"y":247,"wires":[["81991049.4c8368"]]},{"id":"e3bcf6d3.0778f","type":"mqtt in","z":"c5a048a.43205b8","name":"","topic":"sensors/main-door/control","qos":"0","broker":"d60f5a53.4e3c8","x":135,"y":25,"wires":[["81991049.4c8368","34769121.ee0946"]]},{"id":"81991049.4c8368","type":"function","z":"c5a048a.43205b8","name":"sensor","func":"//var states=[\"ON\",\"OFF\"];\nvar states=[\"OPEN\",\"CLOSED\"];//door sensor\nvar topic=msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1]==\"control\"){\n    if (message==states[0] || message==states[1]){\n        msg.payload=message;\n        msg.topic=topic.replace(\"/control\",\"\");\n        return msg;\n    }\n    else{\n    return null;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":242,"y":129,"wires":[["78095358.6bc4dc","5472edfd.3dd174"]]},{"id":"34769121.ee0946","type":"debug","z":"c5a048a.43205b8","name":"","active":true,"console":"false","complete":"false","x":378,"y":48,"wires":[]},{"id":"9850d104.fe7b2","type":"mqtt in","z":"c5a048a.43205b8","name":"","topic":"sensors/main-light/control","qos":"0","broker":"d60f5a53.4e3c8","x":164,"y":341,"wires":[["d4ff488c.23618"]]},{"id":"d4ff488c.23618","type":"function","z":"c5a048a.43205b8","name":"sensor","func":"var states=[\"ON\",\"OFF\"];\n//var states=[\"OPEN\",\"CLOSED\"];//door sensor\nvar topic=msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1]==\"control\"){\n    if (message==states[0] || message==states[1]){\n        msg.payload=message;\n        msg.topic=topic.replace(\"/control\",\"\");\n        return msg;\n    }\n    else{\n    return null;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":271,"y":445,"wires":[["78095358.6bc4dc","acc746a8.9bb6f8"]]},{"id":"e059ecb1.027b8","type":"inject","z":"c5a048a.43205b8","name":"on","topic":"sensors/main-light/control","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":99,"y":456,"wires":[["d4ff488c.23618"]]},{"id":"d456521c.210968","type":"inject","z":"c5a048a.43205b8","name":"off","topic":"sensors/main-light/control","payload":"off","payloadType":"str","repeat":"","crontab":"","once":true,"x":109,"y":563,"wires":[["d4ff488c.23618"]]},{"id":"acc746a8.9bb6f8","type":"debug","z":"c5a048a.43205b8","name":"","active":true,"console":"false","complete":"false","x":424,"y":352,"wires":[]},{"id":"7abf89b7.ae8dd","type":"debug","z":"c5a048a.43205b8","name":"","active":true,"console":"false","complete":"false","x":350,"y":760,"wires":[]},{"id":"eebca6e.9b95358","type":"mosca in","z":"c5a048a.43205b8","mqtt_port":"1883","mqtt_ws_port":8080,"name":"","username":"steve","password":"password","dburl":"","x":168,"y":701,"wires":[[]]},{"id":"cf68dc42.da81c","type":"mqtt in","z":"c5a048a.43205b8","name":"","topic":"sensors/moscatest","qos":"0","broker":"d60f5a53.4e3c8","x":151,"y":761,"wires":[["7abf89b7.ae8dd"]]},{"id":"94fe26ab.7e8d4","type":"mqtt out","z":"c5a048a.43205b8","name":"","topic":"","qos":"","retain":"","broker":"d60f5a53.4e3c8","x":350,"y":826,"wires":[]},{"id":"a3ca7275.6cd238","type":"inject","z":"c5a048a.43205b8","name":"send message","topic":"sensors/moscatest","payload":"test message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":164,"y":826,"wires":[["94fe26ab.7e8d4"]]}]