myflow.json
[{"id":"e28e4491.cd29a","type":"tab","label":"QSG","disabled":false,"info":""},{"id":"c9b736d8.cad37","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"complete":false,"x":510,"y":40,"wires":[]},{"id":"8372d1ee.ef935","type":"inject","z":"e28e4491.cd29a","name":"","topic":"","payload":"","repeat":"","once":false,"x":110,"y":40,"wires":[["4d2c633e.75ccfc"]]},{"id":"4d2c633e.75ccfc","type":"function","z":"e28e4491.cd29a","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"x":310,"y":40,"wires":[["c9b736d8.cad37"]]},{"id":"4ec266ba.28fa","type":"inject","z":"e28e4491.cd29a","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"x":90,"y":180,"wires":[["87d52d39.a0357"]]},{"id":"87d52d39.a0357","type":"http request","z":"e28e4491.cd29a","name":"Recent EarthQuakes","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":280,"y":180,"wires":[["d871dd78.8bba38"]]},{"id":"d871dd78.8bba38","type":"csv","z":"e28e4491.cd29a","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":430,"y":180,"wires":[["aee69a50.3272a8","1f094954.f9549f"]]},{"id":"aee69a50.3272a8","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"complete":false,"x":590,"y":180,"wires":[]},{"id":"1f094954.f9549f","type":"switch","z":"e28e4491.cd29a","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","outputs":1,"x":470,"y":240,"wires":[["88d214b8.be008"]]},{"id":"88d214b8.be008","type":"change","z":"e28e4491.cd29a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["fadbf01e.f7b988"]]},{"id":"fadbf01e.f7b988","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"complete":false,"x":710,"y":240,"wires":[]}]