myflow.json
[{"id":"e28e4491.cd29a","type":"tab","label":"QSG","disabled":false,"info":""},{"id":"c4db0787.706bc","type":"tab","label":"dataREST","disabled":false,"info":""},{"id":"97655b1.5371828","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"BLUDB"},{"id":"c9b736d8.cad37","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"complete":false,"x":510,"y":40,"wires":[]},{"id":"8372d1ee.ef935","type":"inject","z":"e28e4491.cd29a","name":"","topic":"","payload":"","repeat":"","once":false,"x":110,"y":40,"wires":[["4d2c633e.75ccfc"]]},{"id":"4d2c633e.75ccfc","type":"function","z":"e28e4491.cd29a","name":"Format times tamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on c\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["c9b736d8.cad37"]]},{"id":"4ec266ba.28fa","type":"inject","z":"e28e4491.cd29a","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"x":90,"y":180,"wires":[["87d52d39.a0357"]]},{"id":"87d52d39.a0357","type":"http request","z":"e28e4491.cd29a","name":"Recent EarthQuakes","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":280,"y":180,"wires":[["d871dd78.8bba38"]]},{"id":"d871dd78.8bba38","type":"csv","z":"e28e4491.cd29a","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":430,"y":180,"wires":[["aee69a50.3272a8","1f094954.f9549f"]]},{"id":"aee69a50.3272a8","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"complete":false,"x":590,"y":180,"wires":[]},{"id":"1f094954.f9549f","type":"switch","z":"e28e4491.cd29a","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","outputs":1,"x":470,"y":240,"wires":[["88d214b8.be008"]]},{"id":"88d214b8.be008","type":"change","z":"e28e4491.cd29a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["fadbf01e.f7b988"]]},{"id":"fadbf01e.f7b988","type":"debug","z":"e28e4491.cd29a","name":"","active":true,"complete":false,"x":710,"y":240,"wires":[]},{"id":"21f7f80a.5a04f8","type":"dashDB in","z":"c4db0787.706bc","dashDB":"97655b1.5371828","service":"_ext_","query":"select * from GoSales where age = 69","params":"","name":"","x":300,"y":120,"wires":[["bdb521f3.53c57"]]},{"id":"bdb521f3.53c57","type":"debug","z":"c4db0787.706bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":120,"wires":[]},{"id":"655d88ff.e1a63","type":"inject","z":"c4db0787.706bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["21f7f80a.5a04f8"]]},{"id":"cf424e69.6c76c","type":"csv","z":"c4db0787.706bc","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":430,"y":240,"wires":[["da6bc3d8.96cf6"]]},{"id":"19d8a571.bce243","type":"http in","z":"c4db0787.706bc","name":"API: getUsers","url":"/rest/users","method":"get","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["c1fe36a1.3aebb"]]},{"id":"c1fe36a1.3aebb","type":"file in","z":"c4db0787.706bc","name":"readCSVfile","filename":"/Users/peteryxu/CODE/node-red-data/MY-data/simpleUser.csv","format":"utf8","chunk":false,"sendError":false,"x":280,"y":240,"wires":[["cf424e69.6c76c"]]},{"id":"b7d5475e.8812a","type":"http response","z":"c4db0787.706bc","name":"","statusCode":"","headers":{},"x":690,"y":240,"wires":[]},{"id":"26049273.4cd51e","type":"json","z":"c4db0787.706bc","name":"","property":"payload","action":"","pretty":false,"x":450,"y":280,"wires":[["49270b05.961104"]]},{"id":"3e322f9b.c125b8","type":"file in","z":"c4db0787.706bc","name":"readJsonFile","filename":"/Users/peteryxu/CODE/node-red-data/MY-data/generatedUsers.json","format":"utf8","chunk":false,"sendError":false,"x":290,"y":280,"wires":[["26049273.4cd51e"]]},{"id":"19d53321.599d8d","type":"http in","z":"c4db0787.706bc","name":"API: getUsers2","url":"/rest/users2","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["3e322f9b.c125b8"]]},{"id":"49270b05.961104","type":"http response","z":"c4db0787.706bc","name":"","statusCode":"","headers":{},"x":590,"y":280,"wires":[]},{"id":"da6bc3d8.96cf6","type":"function","z":"c4db0787.706bc","name":"addHttpHeaders","func":"var custom1 = 'xxx-1';\nvar custom2 = 'xxx-2';\n\nmsg.headers = {\n    'X-Application-Custom1': custom1,\n    'X-Application-Custom2': custom2\n};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["b7d5475e.8812a","9581ee16.b2382"]]},{"id":"9581ee16.b2382","type":"debug","z":"c4db0787.706bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"headers","x":690,"y":180,"wires":[]},{"id":"8ed59b22.af908","type":"inject","z":"c4db0787.706bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["c1256e08.2b108"]]},{"id":"c1256e08.2b108","type":"http request","z":"c4db0787.706bc","name":"call getUsers","method":"GET","ret":"txt","url":"http://127.0.0.1:1880/rest/users","tls":"","x":310,"y":360,"wires":[["5c7fc635.f91be8"]]},{"id":"5c7fc635.f91be8","type":"debug","z":"c4db0787.706bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":360,"wires":[]}]